<div class="wrapper">
    <md-grid-list cols="2">
  <md-grid-tile>
       <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>
        <a href="http://www.fmglobal.com">FM Global</a>
    </md-card-title>
    <md-card-subtitle>Rhode Island</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/clients/HD-logo.jpeg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>

</md-card> 
  </md-grid-tile>
  <md-grid-tile>
       <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>
        <a href="http://www.homedepot.com">
         Home Depot
        </a>
    </md-card-title>
    <md-card-subtitle>Atlanta</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/clients/HD-logo.jpeg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>

</md-card> 
  </md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>
   
    
</div>


